body {
    padding: 0;
    margin: 0;
    border-width: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important;
    color: #323232 !important;
    background-color: #fdf0f2 !important;
    font-size: 8vw;
    font-weight: bold !important;
    user-select: none;
    position: fixed;
    line-height: normal !important;
}

body h1,
body input,
body header {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important;
}

body ::-webkit-scrollbar {
    width: 0.5vw !important;
}

body ::-webkit-scrollbar-thumb {
    background-color: rgba(25, 25, 25, .5);
    border-radius: 1vw !important;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
}

body ::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 1vw rgba(0, 0, 0, 0.1);
}

body select {
    padding: 5px !important;
}

.ui.active.loader {
    margin-top: -12vh;
}

.ui.inverted.dimmer {
    background: rgba(255, 255, 255, 0.8) !important;
}

.ui.inverted.dimmer > .ui.modal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: fit-content;
}

.code-modal.ui.modal {
    width: 95vw !important;
    border: 1px solid #999999;
    border-radius: 2vw;
    text-align: center;
    font-size: 0.8vw !important;
}

.code-modal.ui.modal > .content {
    font-size: 0.8vw !important;
}

.code-modal.ui.modal .header-text .first-span {
    font-weight: bold;
    font-size: 1vw;
}

.code-modal.ui.modal .code-header-section {
    position: relative;
}

.code-modal.ui.modal .code-header-section img {
    position: absolute;
    top: 0vw;
    right: 5vw;
    width: 8vw;
    text-align: right;
}

.ui.modal .red-span {
    color: #ff0000 !important;
}

.code-modal.ui.modal .content-section {
    padding: 0;
    border-width: 0px;
    width: 100%;
    height: 60vh;
    top: 0px;
    right: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 0.8vw;
    text-align: left;
    margin-bottom: 15px;
}

.code-modal.ui.modal .content-section .first .first-image,
.code-modal.ui.modal .content-section .second .first-image {
    width: 25vw;
}

.code-modal.ui.modal .content-section .first p {
    margin-top: 8px;
    margin-bottom: 1px;
}

.code-modal.ui.modal .content-section .second p {
    margin-bottom: 1px;
}

.code-modal.ui.modal .content-section input {
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    font-size: 1vw;
    border-radius: 2.5px;
    border-color: #858585;
    border-style: inset;
    border-width: 1px;
}

.code-modal.ui.modal .content-section .first input,
.code-modal.ui.modal .content-section .second .copy-section.first input {
    width: 15vw;
}

.code-modal.ui.modal .content-section .copy-image {
    width: 5vw;
    margin-left: 1vw;
    margin-bottom: -0.5vw;
    cursor: pointer;
}

.code-modal.ui.modal .content-section .first {
    margin-top: 10px;
    margin-bottom: 10px;
}

.code-modal.ui.modal .content-section .second {
    margin-top: 10px;
    margin-bottom: 10px;
}

.code-modal.ui.modal .content-section .second .copy-section.first {
    margin-top: 10px;
}

.code-modal.ui.modal .content-section .second .copy-section {
    margin-top: 20px;
    margin-bottom: 10px;
}

.code-modal.ui.modal .content-section .second .copy-section input {
    width: 50vw;
}

.code-modal.ui.modal .content-section .second .copy-section p.with-padding {
    padding-bottom: 10px;
}

.code-modal.ui.modal .content-section .second .copy-section a {
    color: #e5004f;
}


.code-modal.ui.modal .content-section .second .copy-section.banner input,
.code-modal.ui.modal .content-section .copy-section.last input {
    width: 80vw;
    margin-top: 6px;
}

.code-modal.ui.modal .content-section .second .copy-section .banner1 {
    width: 728px;
    height: 90px;
    /*margin-bottom: -0.5vw;*/
    margin-right: 1vw;
}

.code-modal.ui.modal .content-section .second .copy-section .banner2 {
    width: 468px;
    height: 60px;
    margin-top: 1vw;
    margin-right: 1vw;
}

.code-modal.ui.modal .content-section .second .copy-section .banner3 {
    width: 320px;
    height: 100px;
    margin-top: 1vw;
    margin-right: 1vw;
}

.code-modal.ui.modal .content-section .second .copy-section .banner4 {
    width: 300px;
    height: 300px;
    margin-top: 1vw;
    margin-right: 1vw;
}

.code-modal.ui.modal .content-section .copy-section.last .banner5 {
    width: 560px;
    height: 160px;
    margin-right: 1vw;
}

.ui.modal.code-modal .close-section {
    margin-top: 10px;
}

.ui.modal {
    width: 54vw !important;
    padding: 1vw 2vw !important;
    background: rgba(255, 255, 255, 0.5) !important;
    border: 1px solid #999999 !important;
    border-radius: 2vw !important;
    text-align: right !important;
    font-size: 0.8vw !important;
}

.ui.modal.national-modal .header {
    text-align: center;
    background: transparent;
    border-bottom: 1px solid #999999;
}

.ui.modal.national-modal .header p {
    font-size: 1.5vw;
    font-weight: bold;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important;
}

.ui.modal.national-modal .content {
    padding: 0;
    font-size: 0.8vw;
    background: transparent;
}

.ui.modal.national-modal .content img:first-child {
    width: 100%;
}

.ui.modal.national-modal .content img:nth-child(2) {
    width: 5vw;
    cursor: pointer;
}

.ui.modal.tweet-modal,
.ui.modal.inquiry-modal,
.ui.modal.delete-modal,
.ui.modal.report-modal,
.ui.modal.code-modal,
.ui.modal.bank-account-modal,
.ui.modal.register-account-modal {
    text-align: center;
    font-size: 1.5vw;
}

.ui.modal.tweet-modal .content,
.ui.modal.inquiry-modal .content,
.ui.modal.delete-modal .content,
.ui.modal.report-modal .content,
.ui.modal.code-modal .content,
.ui.modal.bank-account-modal .content,
.ui.modal.register-account-modal .content {
    text-align: center;
    padding: 1vw 0;
    background: transparent;
}

.ui.modal.bank-account-modal .content .header-text,
.ui.modal.register-account-modal .content .header-text {
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

.ui.modal.bank-account-modal .content p.header-text img,
.ui.modal.register-account-modal .content p.header-text img {
    width: 10vw;
    margin-bottom: -0.1vw;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}

.ui.modal.bank-account-modal .ui.form,
.ui.modal.register-account-modal .ui.form {
    margin-top: 1vw;
    text-align: initial;
}

.ui.modal.report-modal .content p.header-text {
    font-size: 1.5vw;
    color: #323232;
    margin-bottom: 15px;
}

.ui.modal.delete-modal .content p.header-text {
    font-size: 1.5vw;
    color: #ffb400;
    margin-bottom: 15px;
}

.ui.modal.delete-modal .content .ui.form .inline.field:first-child {
    text-align: right;
}

.ui.modal.delete-modal .content .ui.form .inline.field:last-child {
    text-align: left;
    padding-left: 15px;
}

.ui.modal.delete-modal .content .ui.form .inline.field {
    font-size: 1vw;
}

.ui.modal.inquiry-modal .content p.header-text {
    font-size: 1.5vw;
    color: #22ac38;
    margin-bottom: 15px;
}

.ui.modal.inquiry-modal .content .form-header {
    margin-bottom: 0;
}

.ui.modal.inquiry-modal .content .ui.form .field textarea {
    margin: 0px;
    padding: 2vh 1vw;
    resize: none;
    width: 80%;
    height: 20vh;
    font-size: 0.8vw;
    font-weight: bold;
    line-height: 1.5em;
    border-color: rgb(133, 133, 133);
}

.ui.modal.inquiry-modal .content .ui.form .field:nth-child(2),
.ui.modal.report-modal .content .ui.form .field {
    font-size: 0.8vw;
}

.ui.modal.inquiry-modal .content {
    color: #323232;
}

.ui.modal.report-modal .content .ui.form .field > label,
.ui.modal.bank-account-modal .ui.form .field > label,
.ui.modal.register-account-modal .ui.form .field > label {
    font-size: 0.8vw;
    color: #323232;
}

.ui.modal.bank-account-modal .ui.form .field > label,
.ui.modal.register-account-modal .ui.form .field > label {
    width: 40%;
    text-align: right;
}

.ui.modal.bank-account-modal .ui.form .field,
.ui.modal.register-account-modal .ui.form .field {
    margin-bottom: 5px;
}

.ui.modal.register-account-modal .ui.form .field:nth-child(3) {
    margin-bottom: 20px;
}

.ui.modal.bank-account-modal .ui.form .field.account-number-field .account-number-section,
.ui.modal.register-account-modal .ui.form .field.account-number-field .account-number-section {
    width: 20vw;
    display: inline-block;
}

.ui.modal.bank-account-modal .ui.form .field.account-number-field .ui.input,
.ui.modal.register-account-modal .ui.form .field.account-number-field .ui.input {
    width: 10vw;
}

.ui.modal.bank-account-modal .ui.form .field.account-number-field .ui.radio.checkbox,
.ui.modal.register-account-modal .ui.form .field.account-number-field .ui.radio.checkbox {
    width: 5vw;
}

.ui.modal.bank-account-modal .ui.form .field.account-number-field .ui.radio.checkbox label,
.ui.modal.register-account-modal .ui.form .field.account-number-field .ui.radio.checkbox label {
    font-size: 0.8vw;
    color: #323232;
    padding-left: 20px;
}

.ui.modal.bank-account-modal .ui.form .field .ui.input,
.ui.modal.register-account-modal .ui.form .field .ui.input {
    width: 20vw;
}

.ui.modal.inquiry-modal .content .ui.form .inline.field > label,
.ui.modal.delete-modal .content .ui.form .inline.field > label {
    color: #323232;
}

.ui.modal.inquiry-modal .content .ui.form .field:nth-child(2) {
    margin-left: 0.5vw;
    margin-right: 2vw;
    font-size: 1vw;
}

.ui.modal.report-modal .content .ui.form .field .ui.input input {
    width: 10vw;
    padding: 3px 2px;
    border-radius: 2px;
    border-color: rgb(59, 59, 59);
}

.ui.modal.report-modal .content .ui.form .field textarea {
    margin: 0;
    padding: 2vh 1vw;
    resize: none;
    width: 80%;
    height: 25vh;
    font-size: 0.8vw;
    font-weight: bold;
    line-height: 1.5em;
    border-color: rgb(133, 133, 133);
}

.ui.modal.inquiry-modal .content .ui.form .field .ui.input input,
.ui.modal.delete-modal .content .ui.form .field .ui.input input,
.ui.modal.bank-account-modal .content .ui.form .field .ui.input input,
.ui.modal.register-account-modal .content .ui.form .field .ui.input input {
    padding: 1px 2px;
    border-radius: 2px;
    border-color: rgb(133, 133, 133);
    font-size: 0.8vw;
}

.ui.modal.inquiry-modal .content .ui.form .description-section,
.ui.modal.report-modal .content .description-section {
    font-size: 0.8vw;
}

.ui.modal.inquiry-modal .content .ui.form .description-section p:first-child {
    margin-bottom: 1px;
}

.ui.modal.tweet-modal .content p.header-text {
    font-size: 1.5vw;
    color: #1d9bf0;
    margin-bottom: 0.5vw;
}

.ui.modal.tweet-modal .content p.header-text-red {
    font-size: 1vw;
    color: #ff0000;
    margin-bottom: 0.5vw;
}

.ui.modal.tweet-modal .content .update-account {
    font-size: 0.8vw;
    margin-top: 2vh;
    margin-bottom: 1vw;
    display: inline-flex;
}

.ui.modal.tweet-modal .content .update-account img {
    width: 10vw;
    height: 2vw;
    margin-top: 0vw;
    margin-bottom: -1.5vh;
    margin-left: 1vw;
    cursor: pointer;
}


.ui.modal.tweet-modal .content .ui.form .field:first-child label {
    margin-right: 0;
    font-size: 1vw;
}

.ui.modal.tweet-modal .content .ui.form .field .ui.input {
    width: 10vw;
    height: 2em;
    margin-left: 0.5vw;
    margin-right: 1vw;
    font-size: 1vw;
}

.ui.modal.tweet-modal .content .ui.form .field .ui.input input {
    padding-left: 2px;
}

.ui.modal.tweet-modal .content .ui.form .field:nth-child(2) {
    font-size: 1vw;
}

.ui.modal.tweet-modal .content .ui.form .field:nth-child(2) select {
    padding: 0 !important;
    width: 3vw;
    font-size: 1vw;
    height: 1.5em;
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0.5vw;
    margin-right: 0.3vw;
}

.ui.modal.tweet-modal .content .ui.form .field:nth-child(3) {
    margin-top: 3vh;
}

.ui.modal.tweet-modal .content .ui.form .field:nth-child(3) p {
    display: inline-flex;
    font-size: 1vw;
    margin-top: 0vh;
    margin-bottom: 1vh;
}

.ui.modal.tweet-modal .content .ui.form .field:nth-child(3) p p {
    color: #ff0000;
}

.ui.modal.tweet-modal .content .ui.form .field:nth-child(3) textarea {
    font-size: 1vw;
    width: 86%;
    height: 10vh;
}

.ui.modal.tweet-modal .content .ui.form .field:nth-child(3) textarea:focus,
.ui.modal.tweet-modal .content .ui.form .field:nth-child(3) textarea:focus-within {
    font-size: 1vw;
    width: 86% !important;
    height: 10vh;
}

.ui.modal.tweet-modal .content .actions-section p {
    font-size: 1.5vw;
    color: black;
    font-weight: bold;
}

.ui.modal.tweet-modal .content .actions-section,
.ui.modal.inquiry-modal .content .actions-section,
.ui.modal.delete-modal .content .actions-section,
.ui.modal.report-modal .content .actions-section,
.ui.modal.bank-account-modal .content .actions-section,
.ui.modal.register-account-modal .content .actions-section {
    text-align: center;
}

.ui.modal.tweet-modal .content .actions-section .ui.button,
.ui.modal.inquiry-modal .content .actions-section .ui.button,
.ui.modal.delete-modal .content .actions-section .ui.button,
.ui.modal.report-modal .content .actions-section .ui.button,
.ui.modal.bank-account-modal .content .actions-section .ui.button {
    background: transparent;
    width: 12vw;
    margin-top: 1vw;
    margin-bottom: 0vw;
}

.ui.modal.tweet-modal .content .actions-section .add-image,
.ui.modal.inquiry-modal .content .actions-section .add-image,
.ui.modal.delete-modal .content .actions-section .add-image,
.ui.modal.report-modal .content .actions-section .add-image {
    width: 12vw;
    margin-bottom: 0vw;
    cursor: pointer;
}

.ui.modal.bank-account-modal .content .actions-section .add-image {
    width: 10vw;
    margin-bottom: 0vw;
    cursor: pointer;
}

.ui.modal.register-account-modal .content .actions-section .add-image {
    width: 14vw;
    margin-bottom: 0vw;
    cursor: pointer;
}

.ui.modal.tweet-modal .content .actions-section p,
.ui.modal.inquiry-modal .content .actions-section p,
.ui.modal.report-modal .content .actions-section p {
    font-size: 1.5vw;
}

.ui.modal.tweet-modal .close-section,
.ui.modal.inquiry-modal .close-section,
.ui.modal.delete-modal .close-section,
.ui.modal.report-modal .close-section,
.ui.modal.code-modal .close-section,
.ui.modal.bank-account-modal .close-section,
.ui.modal.register-account-modal .close-section {
    text-align: right;
}

.ui.modal.tweet-modal .close-section img,
.ui.modal.inquiry-modal .close-section img,
.ui.modal.delete-modal .close-section img,
.ui.modal.report-modal .close-section img,
.ui.modal.code-modal .close-section img,
.ui.modal.bank-account-modal .close-section img,
.ui.modal.register-account-modal .close-section img {
    width: 5vw;
    cursor: pointer;
}

.header-section {
    padding-top: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0;
    padding-bottom: 0.25vw;
    margin-top: 0;
    border-width: 0;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    text-align: left;
    font-size: 1vw;
    background: rgba(255, 255, 255, 0.5);
}

.header-section img {
    width: 2vw;
}

.header-section h1 {
    padding-top: 0.45vw;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-top: 0.5vh;
    margin-left: 3vw;
    margin-right: 0;
    margin-bottom: 0;
    border-width: 0;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    text-align: left;
    font-size: 1vw;
}

.header-section a {
    padding-top: 0.5vw;
    padding-left: 0;
    padding-right: 0.8vw;
    padding-bottom: 0;
    margin: 0;
    border-width: 0;
    width: 50vw;
    position: fixed;
    top: 0.05vw;
    right: 0;
    z-index: 103;
    text-align: right;
    font-size: 1.5vw;
    color: #e5004f;
    cursor: pointer;
}

.header-section a:hover {
    color: #e5004f;
}

.footer-section {
    position: fixed;
    line-height: 0;
    z-index: 106;
}

.footer-section .left-footer {
    position: fixed;
    bottom: 2vh;
    left: 0;
    width: 25vw;
    z-index: 106;
    cursor: pointer;
}

.footer-section .left-footer img:first-child {
    width: 60%;
    margin-bottom: 2vh;
    margin-right: 5%;
}

.footer-section .left-footer img:last-child {
    width: 35%;
}

.footer-section .middle-footer {
    padding: 0;
    margin-top: 0;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-bottom: 0;
    border-width: 0;
    width: 40vw;
    position: fixed;
    bottom: -0.7vh;
    left: 0;
    z-index: 107;
    text-align: center;
    font-size: 0.9vw;
    font-weight: bold;
    color: #1d9bf0;
}

.footer-section .middle-footer img {
    width: 30vw;
    margin-bottom: 2px;
    cursor: pointer;
}

.footer-section .middle-footer p {
    margin-bottom: 1px;
}

.footer-section .right-footer {
    padding: 0;
    margin: 0 0 2px 70vw;
    border-width: 0;
    width: 30vw;
    position: fixed;
    bottom: 1vh;
    left: 0;
    z-index: 108;
    text-align: right;
    font-size: 1vw;
    font-weight: normal;
}

.footer-section .right-footer img {
    width: 10vw;
    cursor: pointer;
}

.footer-section .right-footer img:last-child {
    width: 10vw;
    margin-left: 1vw;
}

.index-page,
.affiliate-page {
    padding: 0;
    margin: 0;
    border-width: 0;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.index-page .cover-image,
.affiliate-page .cover-image {
    width: 100vw;
    object-fit: cover;
}

.index-page .logo-section {
    padding: 0;
    margin: 0;
    width: 40vw;
    position: fixed;
    top: 10vh;
    left: 2vw;
    z-index: 2;
    border-width: 0;
    overflow: hidden;
}

.index-page .logo-section img {
    width: 40vw;
}

.index-page .logo-section h2.ui.header {
    font-size: 1vw;
    padding: 1.5vw 0 0;
    margin: 0;
    line-height: 1em;
}

.index-page .buttons-section {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 10vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 7;
    text-align: center;
    font-size: 1.5vw;
    position: fixed;
    border-width: 0;
}

.index-page .buttons-section h5.ui.header {
    font-size: 1vw;
    padding: 0;
    margin: 0;
}

.index-page .buttons-section img {
    width: 20vw;
    margin-top: 2vh;
    cursor: pointer;
}

.index-page .buttons-section img:nth-child(2) {
    margin-right: 8vw;
}

.index-page .buttons-section img:nth-child(3) {
    margin-left: 8vw;
}

.index-page .index-footer {
    padding: 0 0 0 1vw;
    margin: 0;
    border-width: 0;
    width: 100vw;
    position: fixed;
    bottom: 0.4vh;
    left: 0;
    z-index: 10;
}

.index-page .index-footer .ui.list {
    width: 100%;
    display: inline-flex;
}

.index-page .index-footer .ui.list .item {
    width: 34vw;
}

.index-page .index-footer .ui.list .item:first-child p {
    position: fixed;
    bottom: 2.5vh;
    cursor: pointer;
    font-size: 0.8vw;
}

.index-page .index-footer .ui.list .item:nth-child(2) p {
    padding-top: 4vh;
    font-weight: normal;
    font-size: 1vw;
    padding-left: 2vw;
    position: fixed;
    bottom: 1vh;
}

.index-page .index-footer .ui.list .item:last-child img {
    width: 30vw;
    padding-bottom: 1vh;
    cursor: pointer;
}

.menu-section {
    padding: 0.5vw 0 0.25vw 0.5vw;
    margin: 0;
    border-width: 0;
    width: 99.5vw;
    position: fixed;
    top: 3vw;
    left: 0;
    z-index: 102;
    text-align: left;
    font-size: 1vw;
}

.menu-section .left-menu img:first-child {
    width: 10vw;
    margin-right: 1vw;
    margin-bottom: -0.5vw;
}

.menu-section .left-menu img:nth-child(2) {
    width: 2vw;
    margin-right: 0.5vw;
    margin-bottom: -0.5vw;
}

.menu-section .left-menu select {
    font-size: 1.3vw;
    font-weight: bold;
    color: #323232;
    width: 10vw;
    height: 2em;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1vw;
}

.menu-section .right-menu {
    position: absolute;
    top: 0;
    right: -0.5vw;
}

.menu-section .right-menu p {
    display: inline;
}

.menu-section .right-menu img.first-menu {
    width: 7vw;
    margin-bottom: -0.5vw;
    margin-left: 0.5vw;
    cursor: pointer;
}

.menu-section .right-menu img.second-menu {
    width: 7vw;
    margin-bottom: -0.5vw;
    cursor: pointer;
}

.menu-section .right-menu img.logout-image {
    width: 9vw;
    margin-right: 0.5vw;
    margin-bottom: -0.5vw;
}


.menu-section .right-menu .chat-image {
    width: 10vw;
    margin-bottom: -0.5vw;
    cursor: pointer;
    margin-left: 3px;
}

.main-menu-section .ui.grid {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 100vw;
    height: 88vh;
    transform: translate(-50%, -38%);
    text-align: center;
    font-size: 1vw;
    z-index: 104;
}

.main-menu-section .ui.grid > .row {
    padding-top: 0;
}

.main-menu-section .ui.grid > .row > .popularity-column.column {
    width: 27% !important;
    height: 80vh;
    vertical-align: top;
    line-height: 1em;
    text-align: right;
    padding-right: 0;
    padding-left: 0;
}

.main-menu-section .ui.grid .popularity-column .popularity-header {
    text-align: left;
}

.main-menu-section .ui.grid .popularity-column .popularity-header img {
    width: 50%;
    margin-left: 2.1vw;
    margin-bottom: -0.45vh;
}

.main-menu-section .ui.grid .popularity-column .popularity-elements {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 63vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.cards-container.column{
    margin: 0;
    padding: 0 0.1% !important;
    height: 63vh;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
}

.box {
    position: relative;
    margin: 0 1% 2.55vh 5%;
    padding: 4% 4% 2.5% 4%;
    top: 0;
    left: 0;
    /*width: 86%;
    height: 15vh;*/
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #999999;
    border-radius: 1vw;
    text-align: left;
    font-size: 1.3vw;
    line-height: 1.3em;
}

.box.all {
    font-size: 0.8vw;
    margin: 0px 0.5% 1.7vh 1%;
    padding: 1%;
    display: inline-block;
    width: 23.3%;
}

.box-header{
    text-align: left;
    margin-bottom: 0.4vh;
}

.box-header img{
    width: 15%;
    margin-left: 1.6vw;
    margin-right: 0vw;
    margin-bottom: -0.9vh;
}

.box:hover {
    cursor: pointer;
}

.box .profile-image {
    width: 5.625vw;
    height: 7.5vw;
    float: left;
    margin-left: 0;
    margin-right: 4%;
    object-fit: cover;
}

.box.all .profile-image{
    width: 3.75vw;
    height: 5vw;
}

.box p {
    margin-bottom: 0;
}

.box .box-text {
    /*text-align: right;
    margin-top: -1.1vw;*/
}

.box .box-text p {
    font-size: 1vw;
    margin-right: 15%;
    text-align: right;

}

.box.all .box-text p {
    font-size: 0.7vw;
}

.box .number-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 18%;

}

.box .image-section {
    text-align: center;
}

.box .image-section img {
    width: 50%;
}

.point-section{
    width: 56%;
    text-align: center;
    margin: auto;
    margin-bottom: 9.5%;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    color: #ffffff;
    font-size: 1vw;
}

.main-menu-section .ui.grid .popularity-column .popularity-footer img {
    width: 50%;
    margin-right: 1.5vw;
    margin-top: 0;
    cursor: pointer;
}

.main-menu-section .ui.grid .main-menu-column {
    position: fixed;
    top: -4.5vh;
    right: 0;
    width: 18vw;
    text-align: right;
    font-size: 0.8vw;
    z-index: 105;
}

.main-menu-section .ui.grid .main-menu-column .ui.form.login-form {
    padding-right: 0.2vw;
}

.main-menu-section .ui.grid .main-menu-column .empty-div {
    height: 9vw;
}

.main-menu-section .ui.grid .ui.form label {
    font-size: 0.8vw;
    margin-bottom: 0;
}

.main-menu-section .ui.grid .ui.form .field {
    margin-bottom: 0;
}

.main-menu-section .ui.grid .ui.form .field:first-child label {
    text-align: left;
}

.main-menu-section .ui.grid .ui.form .field:first-child input {
    width: 100%;
    margin-top: 0;
    margin-bottom: 1vh;
    font-size: 0.8vw;
    text-align: right;
    font-weight: bold;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    padding-right: 0;
    border-radius: 2.5px;
    border-color: #858585;
    border-style: inset;
    color: black;
}

.main-menu-section .ui.grid .ui.form .field:last-child input {
    width: 13.5vw;
    margin-left: 0.5vw;
    margin-top: 0;
    font-size: 0.8vw;
    text-align: right;
    font-weight: bold;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    padding-right: 2px;
    border-radius: 2.5px;
    border-color: #858585;
    border-style: inset;
    color: black;
}

.main-menu-section .ui.grid .ui.form .field:last-child p {
    padding-top: 0.4vh;
    padding-right: 0.8vw;
    font-size: 0.8vw;
}

.right-menu .actions-section {
    text-align: right;
}


.right-menu .actions-section img:last-child {
    width: 9vw;
    margin-right: 0.5vw;
    margin-top: 2vh;
}

.actions-section {
    text-align: right;
}

.actions-section .ui.button {
    padding: 0;
    background: transparent;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.actions-section .ui.button:hover {
    background: transparent;
}

.actions-section .ui.loading.button.with-opacity:after {
    width: 15px;
    height: 15px;
}

.actions-section .ui.loading.button.with-opacity:before {
    width: 15px;
    height: 15px;
}

.actions-section .ui.button.with-opacity {
    opacity: 0.5 !important;
}

.actions-section img:first-child {
    width: 8vw;
    margin-right: 0.5vw;
    cursor: pointer;
}

.main-menu-section .ui.grid .restaurant-section .title {
    margin-top: 1vh;
    margin-bottom: 0;
    width: 18vw;
    padding-top: 0.2vh;
    padding-bottom: 0;
    border-radius: 1vw 0 0 0;
    font-size: 1vw;
    text-align: center;
    color: #ffffff;
    background: #e5004f;
}

.main-menu-section .ui.grid .restaurant-section .restaurant-elements {
    margin-top: 0;
    padding-left: 0.5vw;
    width: 18vw;
    overflow: hidden;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: left;
    color: #ffffff;
    background: #cccccc;
}

.main-menu-section .ui.grid .restaurant-section .restaurant-elements .slide-section {
    margin-top: 0;
    width: 17.5vw;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    color: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    animation: 49.4793s linear 0s infinite normal none running slider-section;
}

.main-menu-section .ui.grid .restaurant-section .restaurant-elements .slide-section .restaurant-element {
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    text-align: left;
    font-size: 0.8vw;
    line-height: 1.2em;
    cursor: pointer;
    flex: 0 0 auto;
    display: block;
}

.main-menu-section .ui.grid .restaurant-section .restaurant-elements .slide-section .restaurant-element .restaurant-location {
    margin-top: 1vh;
}

.main-menu-section .ui.grid .restaurant-section .restaurant-elements .slide-section .restaurant-element .restaurant-location p:last-child {
    margin-top: -2px;
}

.main-menu-section .ui.grid .restaurant-section .restaurant-elements .slide-section .restaurant-element .working-hours p:first-child {
    margin-bottom: -2px;
}

.main-menu-section .ui.grid .restaurant-section .restaurant-elements .slide-section .restaurant-element p {
    margin: 0;
}

.main-menu-section .ui.grid .restaurant-section .restaurant-elements .slide-section .restaurant-element .name {
    font-size: 1vw;
    margin-bottom: -3px;
    line-height: normal;
}

.main-menu-section .ui.grid .restaurant-section .restaurant-elements .slide-section .restaurant-element .map-img {
    width: 2vw;
    margin-right: 0.5vw;
    float: left;
}

.main-menu-section .ui.grid .restaurant-section .restaurant-elements .slide-section .restaurant-element .restaurant-images {
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

.main-menu-section .ui.grid .restaurant-section .restaurant-elements .slide-section .restaurant-element .restaurant-images .restaurant-img {
    width: 5vw;
    height: 3.75vw;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    object-fit: cover;
}

.main-menu-section .ui.grid .restaurant-section .restaurant-elements .slide-section .restaurant-element .left-img {
    position: absolute;
    right: 0;
    padding-bottom: 20vh;
}

.main-menu-section .ui.grid .restaurant-section .restaurant-elements .slide-section .restaurant-element .left-img img {
    width: 5vw;
    float: right;
}

.main-menu-section .ui.grid .restaurant-section hr {
    margin-top: 2vh;
}

@keyframes slider-section {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, -1452.8199999999995px, 0)
    }
}

.main-menu-section .ui.grid .restaurant-section .footer {
    margin-top: 0;
    width: 18vw;
    padding-top: 0.2vh;
    padding-bottom: 0;
    border-radius: 0 0 0 1vw;
    font-size: 1vw;
    text-align: center;
    color: #ffffff;
    background: #bbbbbb;
    cursor: pointer;
}

.main-menu-section .profile-details-grid .main-image {
    width: 71%;
    height: 41vh;
    float: left;
    margin-right: 18px;
}

.main-menu-section .profile-details-grid .images-section {
    width: 17.2%;
    height: 40vh;
    display: flow-root;
}


.main-menu-section .profile-details-grid .images-section img {
    width: 100%;
    height: 10vh;
    cursor: pointer;
}

.main-menu-section .profile-details-grid .pr-section {
    text-align: left;
    padding-right: 2%;
    padding-top: 7vh;
}

.main-menu-section .profile-details-grid .pr-section p:first-child {
    font-size: 1vw;
    margin-bottom: 0;
}

.main-menu-section .profile-details-grid .pr-section p:nth-child(2) {
    font-size: 0.8vw;
    line-height: 1.3em;
}

.main-menu-section .profile-details-grid .second-column {
    text-align: initial;
    width: 100%;
}

.main-menu-section .profile-details-grid .second-column .profile-header-section {
    display: flex;
    width: 100%;
}

.main-menu-section .profile-details-grid .second-column .profile-header-section .first-header,
.main-menu-section .profile-details-grid .second-column .profile-header-section .second-header {
    width: 50%;
}

.main-menu-section .profile-details-grid .second-column .profile-header-section .second-header {
    text-align: right;
}

.main-menu-section .profile-details-grid .second-column .profile-header-section .second-header .like-image {
    width: 30%;
    margin-top: 0;
    margin-bottom: -1vh;
    margin-right: 1vw;
    cursor: pointer;
}

.main-menu-section .profile-details-grid .second-column .profile-header-section .second-header .report-image {
    width: 45%;
    margin-left: 2vw;
    margin-right: -2%;
    margin-bottom: 0.5vh;
    cursor: pointer;
}

.main-menu-section .profile-details-grid .second-column .profile-header-section .second-header .number-text {
    text-align: right;
    padding-right: 1%;
}

.main-menu-section .profile-details-grid .second-column .profile-header-section .second-header .point {
    margin-top: 1.2vh;
    padding-left: 0.5vw;
    padding-top: 0;
    padding-bottom: 0.4vh;
    text-align: left;
    width: 100%;
    color: #b28850;
}


.main-menu-section .profile-details-grid .second-column .info-section-keys {
    font-size: 1.2vw;
    line-height: 1.5em;
    margin-top: 2vh;
    padding-left: 10vw;
}

.main-menu-section .profile-details-grid .second-column .info-section-keys .one-value {
    width: 100%;
}

.main-menu-section .profile-details-grid .second-column .info-section-keys .one-value span:first-child {
    width: 50%;
}

.main-menu-section .profile-details-grid .second-column .info-section-keys .one-value span:nth-child(2) {
    width: 50%;
    float: right;
}

.main-menu-section .profile-details-grid .second-column p.user-name {
    text-align: left;
    font-size: 1.5vw;
    margin-top: 5vh;
    margin-bottom: 1vh;
    display: inline-block;
    line-height: 1em;
}

.main-menu-section .profile-details-grid .second-column img {
    width: 30%;
    margin-left: 1vw;
}

.main-menu-section .profile-details-grid .second-column .colored-label {
    padding-top: 0.5vh;
    padding-bottom: 0.3vh;
    text-align: center;
    width: 100%;
    color: #ffffff;
    background: #b28850;
    line-height: 1em;
    margin-bottom: 0;
}

.main-menu-section .profile-details-grid .second-column .under-image-text {
    width: 100%;
    font-size: 0.63vw;
    color: #b28850;
    text-align: center;
}

.main-menu-section .profile-details-grid .details-section {
    width: 100%;
    text-align: left;
    margin-top: 4vh;
    font-size: 0.8vw;
    line-height: 1.3em;
    border-left: 2px solid #313131;
    padding-left: 2vw;
}

.main-menu-section .profile-details-grid .details-section .bottom-section {
    display: flex;
}

.main-menu-section .profile-details-grid .details-section .bottom-section .text-section-details {
    width: 65%;
}

.main-menu-section .profile-details-grid .details-section .bottom-section .text-section-details p:first-child,
.main-menu-section .profile-details-grid .details-section .bottom-section .text-section-details p:nth-child(2) {
    margin-bottom: 0;
}

.main-menu-section .profile-details-grid .details-section .bottom-section.chat-section {
    width: 35%;
}

.main-menu-section .profile-details-grid .details-section .bottom-section .chat-section img {
    margin-bottom: 1vh;
    margin-top: 10vh;
    margin-right: 2vw;
    cursor: pointer;
    width: 50%;
    float: right;
}

.main-menu-section .profile-details-grid .details-section .image-details {
    text-align: center;
    width: 50%;
}

.main-menu-section .profile-details-grid .details-section .image-details img {
    width: 70%;
}

.main-menu-section .profile-details-grid .value-column {
    width: 100%;
    text-align: left;
}

.main-menu-section .profile-details-grid .value-column .info-section {
    font-size: 1.2vw;
    line-height: 1.5em;
    margin-top: 4vh;
}

.register-container.ui.grid {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 35vh;
    left: 50vw;
    width: 100vw;
    height: 80vh;
    transform: translate(-50%, -38%);
    text-align: center;
}

.register-container.ui.grid .images-section img:first-child {
    width: 20vw;
    margin-right: 2vw;
}

.register-container.ui.grid .images-section img:nth-child(2) {
    width: 30vw;
}

.register-container.ui.grid .images-section .image-text {
    margin-top: -0.5vh;
    font-size: 1vw;
}

.register-container.ui.grid .info-form {
    padding: 0.5vw 2vw;
    width: 100%;
    margin: 0;
    top: 0;
    right: 0;
    text-align: left;
    font-size: 0.7vw;
    float: left;
    border-width: 0;
    overflow: hidden;
}

.register-container.ui.grid .info-form.ui.form .inline.field {
    margin: 0 0 5px;
}

.register-container.ui.grid .info-form .fields,
.register-container.ui.grid .info-form .inline.field {
    width: 100%;
}

.register-container.ui.grid .info-form .inline.field label {
    width: 35%;
    text-align: right;
}

.register-container.ui.grid .info-form .inline.field .ui.input,
.register-container.ui.grid .info-form.ui.form .inline.field select {
    width: 60%;
    height: 25px;
    font-size: 0.8vw;
}

.register-container.ui.grid .info-form .inline.field .birth-fields,
.register-container.ui.grid .info-form .inline.field .age-fields,
.register-container.ui.grid .info-form .inline.field .units-fields,
.register-container.ui.grid .info-form .inline.field .card-expiration-section {
    width: 70%;
    display: inline;
}

.register-container.ui.grid .info-form .inline.field .card-expiration-section select:first-child {
    width: 7.8vw;
    display: inline;
    margin-right: 0.3vw;
    height: 30px;
    font-size: 0.8vw;
    margin-top: 0;
    margin-bottom: 0;
}

.register-container.ui.grid .info-form .inline.field .card-expiration-section select:nth-child(2) {
    width: 7.8vw;
    margin-right: 0.3vw;
    margin-left: 0.3vw;
    display: inline;
    height: 30px;
    font-size: 0.8vw;
    margin-top: 0;
    margin-bottom: 0;
}

.register-container.ui.grid .info-form .payment-section {
    margin-left: 2vw;
    margin-bottom: 0.5vw;
}

.register-container.ui.grid .info-form .payment-section img {
    width: 10vw;
    margin-right: 0.5vw;
}

.register-container.ui.grid .info-form .payment-section p {
    color: #ff0000;
}

.register-container.ui.grid .info-form hr {
    width: 93%;
    margin-right: 3%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.register-container.ui.grid .info-form .inline.field .units-fields .ui.input:first-child {
    width: 6.9vw;
    margin-left: 0;
    margin-right: 0.5vw;
    font-size: 0.8vw;
}

.register-container.ui.grid .info-form .inline.field .units-fields .ui.input:nth-child(2) {
    width: 6.9vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-size: 0.8vw;
}

.register-container.ui.grid .info-form .inline.field .age-fields .ui.input {
    width: 56%;
    margin-right: 0.3vw;
}

.register-container.ui.grid .info-form .inline.field .birth-fields .ui.input:first-child {
    width: 5.5vw;
    margin-left: 0;
    margin-right: 0.3vw;
    font-size: 0.8vw;
}

.register-container.ui.grid .info-form .inline.field .birth-fields .ui.input:nth-child(2) {
    width: 4.6vw;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    font-size: 0.8vw;
}

.register-container.ui.grid .info-form .inline.field .birth-fields .ui.input:nth-child(3) {
    width: 4.6vw;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    font-size: 0.8vw;
}

.register-container.ui.grid .extra-info {
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1vh;
    border-width: 0;
    width: 90%;
    top: 0;
    right: 0;
    overflow: hidden;
    text-align: left;
    font-size: 0.8vw;
}

.register-container.ui.grid .extra-info .profile-photo-section .all-images-section {
    display: flex;
    margin-top: 2vh;
}

.register-container.ui.grid .extra-info .profile-photo-section .all-images-section .required.field {
    font-size: 0.8vw;
}

.register-container.ui.grid .extra-info .profile-photo-section .header-text {
    text-align: center;
}

.register-container.ui.grid .extra-info .profile-photo-section .header-text p {
    display: inline;
    color: #ff0000;
}

.register-container.ui.grid .extra-info .profile-photo-section .one-image {
    /*width: 16.66%;*/
    text-align: center;
}

.register-container.ui.grid .extra-info .profile-photo-section .error.required.field .one-image .with-border .main-image {
    border: 2px solid red;
}

.register-container.ui.grid .extra-info .profile-photo-section .one-image .wrapper-section {
    text-align: center;
    display: inline-flex;
}

.register-container.ui.grid .extra-info .profile-photo-section .one-image .wrapper-section .wrapper {
    display: inline-block;
    position: relative;
    width: fit-content;
    text-align: right;
    cursor: pointer;
}

.register-container.ui.grid .extra-info .profile-photo-section .one-image .wrapper-section .wrapper .upload-photo {
    width: 75%;
    margin-right: 10%;
    cursor: pointer;
}

.register-container.ui.grid .extra-info .profile-photo-section .one-image .wrapper-section .wrapper input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.register-container.ui.grid .extra-info .profile-photo-section .one-image .wrapper-section .delete-section {
    width: fit-content;
    text-align: left;
    cursor: pointer;
}

.register-container.ui.grid .extra-info .profile-photo-section .one-image .wrapper-section .delete-section img {
    width: 45%;
}

.register-container.ui.grid .extra-info .profile-photo-section .one-image.round .height {
    height: 8vw;
}

.register-container.ui.grid .extra-info .profile-photo-section .one-image.round .main-image {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    object-fit: cover;
}

.register-container.ui.grid .extra-info .profile-photo-section .one-image .main-image {
    width: 6vw;
    height: 8vw;
    object-fit: cover;
}

.register-container.ui.grid .extra-info .profile-photo-section .one-image.red p {
    color: #ff0000;
}

.register-container.ui.grid .extra-info .profile-photo-section .warning-text {
    text-align: center;
    padding-top: 1vw;
}

.register-container.ui.grid .extra-info .profile-photo-section .final-section {
    display: flex;
    padding: 1vw;
    margin: 0;
    border-width: 0;
    width: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
    text-align: left;
    font-size: 0.8vw;
    float: left;
}

.register-container.ui.grid .extra-info .profile-photo-section .final-section .text-area-section {
    /*width: 72%;*/
    font-size: 1vw;
}

.register-container.ui.grid .extra-info .profile-photo-section .final-section .text-area-section p {
    color: #ff0000;
    display: inline;
}

.register-container.ui.grid .extra-info .profile-photo-section .final-section .text-area-section textarea {
    width: 90%;
    height: 19.5vh;
    resize: none;
    font-size: 1vw;
}

.register-container.ui.grid .extra-info .profile-photo-section .final-section .actions-section {
    width: 24%;
    margin-top: 4.5vh;
    text-align: center;
}

.register-container.ui.grid .extra-info .profile-photo-section .final-section .actions-section a img {
    width: 15vw;
}

.register-container.ui.grid .extra-info .profile-photo-section .final-section .actions-section p {
    font-size: 1vw;
}

.register-container.ui.grid .extra-info .profile-photo-section .final-section .actions-section .login-image {
    width: 10vw;
    margin-top: 2vh;
    margin-bottom: 0;
    margin-right: 2vw;
    cursor: pointer
}

@media (max-width: 1024px) {
    .index-page .cover-image,
    .affiliate-page .cover-image {
        height: 100%;
    }
}

.Toastify__toast-container {
    z-index: 9999;
    position: fixed;
    padding: 4px;
    width: 320px;
    box-sizing: border-box;
    color: #fff;
}

.Toastify__toast-container--top-left {
    top: 1em;
    left: 1em;
}

.Toastify__toast-container--top-center {
    top: 1em;
    left: 50%;
    margin-left: -160px;
}

.Toastify__toast-container--top-right {
    top: 1em;
    right: 0;
    padding-right: 0;
}

.Toastify__toast-container--bottom-left {
    bottom: 1em;
    left: 1em;
}

.Toastify__toast-container--bottom-center {
    bottom: 1em;
    left: 50%;
    margin-left: -160px;
}

.Toastify__toast-container--bottom-right {
    bottom: 1em;
    right: 1em;
}

@media only screen and (max-width: 480px) {
    .Toastify__toast-container {
        width: 100vw;
        padding: 0;
        left: 0;
        margin: 0;
    }

    .Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right {
        top: 0;
    }

    .Toastify__toast-container--bottom-left, .Toastify__toast-container--bottom-center, .Toastify__toast-container--bottom-right {
        bottom: 0;
    }

    .Toastify__toast-container--rtl {
        right: 0;
        left: initial;
    }
}

.Toastify__toast {
    position: relative;
    min-height: 64px;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 8px;
    border-radius: 1px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-height: 800px;
    overflow: hidden;
    font-family: sans-serif;
    cursor: pointer;
    direction: ltr;
}

.Toastify__toast--rtl {
    direction: rtl;
}

.Toastify__toast--default {
    background: #fff;
    color: #aaa;
}

.Toastify__toast--info {
    background: #3498db;
}

.Toastify__toast--success {
    background: #07bc0c;
}

.Toastify__toast--warning {
    background: #f1c40f;
}

.Toastify__toast--error {
    background: #e74c3c;
}

.Toastify__toast-body {
    margin: auto 0;
    -ms-flex: 1;
    flex: 1;
}

@media only screen and (max-width: 480px) {
    .Toastify__toast {
        margin-bottom: 0;
    }
}

.Toastify__close-button {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s ease;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.Toastify__close-button--default {
    color: #000;
    opacity: 0.3;
}

.Toastify__close-button:hover, .Toastify__close-button:focus {
    opacity: 1;
}

@keyframes Toastify__trackProgress {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

.Toastify__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 9999;
    opacity: 0.7;
    animation: Toastify__trackProgress linear 1 forwards;
    background-color: rgba(255, 255, 255, 0.7);
    transform-origin: left;
}

.Toastify__progress-bar--rtl {
    right: 0;
    left: initial;
    transform-origin: right;
}

.Toastify__progress-bar--default {
    background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
}

@keyframes Toastify__bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        transform: translate3d(10px, 0, 0);
    }
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    to {
        transform: none;
    }
}

@keyframes Toastify__bounceOutRight {
    20% {
        opacity: 1;
        transform: translate3d(-20px, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
}

@keyframes Toastify__bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        transform: translate3d(5px, 0, 0);
    }
    to {
        transform: none;
    }
}

@keyframes Toastify__bounceOutLeft {
    20% {
        opacity: 1;
        transform: translate3d(20px, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
}

@keyframes Toastify__bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }
    75% {
        transform: translate3d(0, 10px, 0);
    }
    90% {
        transform: translate3d(0, -5px, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes Toastify__bounceOutUp {
    20% {
        transform: translate3d(0, -10px, 0);
    }
    40%,
    45% {
        opacity: 1;
        transform: translate3d(0, 20px, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }
}

@keyframes Toastify__bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    75% {
        transform: translate3d(0, -10px, 0);
    }
    90% {
        transform: translate3d(0, 5px, 0);
    }
    to {
        transform: none;
    }
}

@keyframes Toastify__bounceOutDown {
    20% {
        transform: translate3d(0, 10px, 0);
    }
    40%,
    45% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
    }
}

.Toastify__bounce-enter--top-left, .Toastify__bounce-enter--bottom-left {
    animation-name: Toastify__bounceInLeft;
}

.Toastify__bounce-enter--top-right, .Toastify__bounce-enter--bottom-right {
    animation-name: Toastify__bounceInRight;
}

.Toastify__bounce-enter--top-center {
    animation-name: Toastify__bounceInDown;
}

.Toastify__bounce-enter--bottom-center {
    animation-name: Toastify__bounceInUp;
}

.Toastify__bounce-exit--top-left, .Toastify__bounce-exit--bottom-left {
    animation-name: Toastify__bounceOutLeft;
}

.Toastify__bounce-exit--top-right, .Toastify__bounce-exit--bottom-right {
    animation-name: Toastify__bounceOutRight;
}

.Toastify__bounce-exit--top-center {
    animation-name: Toastify__bounceOutUp;
}

.Toastify__bounce-exit--bottom-center {
    animation-name: Toastify__bounceOutDown;
}

@keyframes Toastify__zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes Toastify__zoomOut {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0;
    }
}

.Toastify__zoom-enter {
    animation-name: Toastify__zoomIn;
}

.Toastify__zoom-exit {
    animation-name: Toastify__zoomOut;
}

@keyframes Toastify__flipIn {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    to {
        transform: perspective(400px);
    }
}

@keyframes Toastify__flipOut {
    from {
        transform: perspective(400px);
    }
    30% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }
    to {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}

.Toastify__flip-enter {
    animation-name: Toastify__flipIn;
}

.Toastify__flip-exit {
    animation-name: Toastify__flipOut;
}

@keyframes Toastify__slideInRight {
    from {
        transform: translate3d(110%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes Toastify__slideInLeft {
    from {
        transform: translate3d(-110%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes Toastify__slideInUp {
    from {
        transform: translate3d(0, 110%, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes Toastify__slideInDown {
    from {
        transform: translate3d(0, -110%, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes Toastify__slideOutRight {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        transform: translate3d(110%, 0, 0);
    }
}

@keyframes Toastify__slideOutLeft {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        transform: translate3d(-110%, 0, 0);
    }
}

@keyframes Toastify__slideOutDown {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        transform: translate3d(0, 500px, 0);
    }
}

@keyframes Toastify__slideOutUp {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        transform: translate3d(0, -500px, 0);
    }
}

.Toastify__slide-enter--top-left, .Toastify__slide-enter--bottom-left {
    animation-name: Toastify__slideInLeft;
}

.Toastify__slide-enter--top-right, .Toastify__slide-enter--bottom-right {
    animation-name: Toastify__slideInRight;
}

.Toastify__slide-enter--top-center {
    animation-name: Toastify__slideInDown;
}

.Toastify__slide-enter--bottom-center {
    animation-name: Toastify__slideInUp;
}

.Toastify__slide-exit--top-left, .Toastify__slide-exit--bottom-left {
    animation-name: Toastify__slideOutLeft;
}

.Toastify__slide-exit--top-right, .Toastify__slide-exit--bottom-right {
    animation-name: Toastify__slideOutRight;
}

.Toastify__slide-exit--top-center {
    animation-name: Toastify__slideOutUp;
}

.Toastify__slide-exit--bottom-center {
    animation-name: Toastify__slideOutDown;
}

.affiliate-page .affiliate-login {
    padding: 0;
    margin: 0;
    width: 100vw;
    position: fixed;
    top: 7vh;
    left: 0vw;
    z-index: 2;
    font-size: 1vw;
    text-align: center;
}

.affiliate-page .affiliate-login img {
    width: 50vw;
    margin-bottom: 0vh;
}

.affiliate-page .affiliate-login p span {
    color: #ff0000;
}

.affiliate-page .affiliate-login .ui.form .fields {
    margin: auto;
    width: max-content;
}

.affiliate-page .affiliate-login .ui.form .fields .field:first-child {
    text-align: right;
}

.affiliate-page .affiliate-login .ui.form .fields .password-field.field {
    text-align: left;
    padding-left: 15px;
    padding-right: 2vw;
}

.affiliate-page .affiliate-login .ui.form .field,
.affiliate-page .affiliate-login .ui.form p {
    font-size: 1vw;
}

.affiliate-page .affiliate-login .ui.form p {
    margin: auto;
    color: #323232;
}

.affiliate-page .affiliate-login .ui.form .field > label {
    font-size: 1vw;
    display: inline-block;
    color: #323232;
}

.affiliate-page .affiliate-login .ui.form .field .ui.input {
    width: 15vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
}

.affiliate-page .affiliate-login .ui.form .field .ui.input input {
    padding: 8px 2px;
    border-color: rgb(133, 133, 133);
}

.affiliate-page .affiliate-login .ui.form.logout-form{
    margin-right: 4%;
    float: right;
}

.affiliate-page .affiliate-login .ui.form.logout-form .logout-image{
    width: 9vw;
    margin: auto;
    cursor: pointer;
    height: fit-content;
    padding-right: 4%;
}

.affiliate-page .affiliate-login .ui.form.logout-form p {
    cursor: pointer;
}

.affiliate-page .affiliate-login .ui.form .login-image {
    width: 8vw;
    margin: auto;
    cursor: pointer;
    height: fit-content;
}

.affiliate-page .discount-section {
    padding: 0;
    margin: 0;
    border-width: 0px;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: 7;
    text-align: center;
    font-size: 1.5vw;
    position: fixed;
}

.affiliate-page .discount-section img {
    width: 80vw;
}

.affiliate-page .discount-section .follower-text {
    font-size: 1vw;
    color: #323232;
    margin-top: 2vw;
}

.affiliate-page .discount-section .follower-img {
    width: 4vw;
    margin-bottom: -0.4vw;
    margin-right: 0.2vw;
}

.affiliate-page .discount-section .logo-img {
    width: 10vw;
    margin-bottom: -0.2vw;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}

.affiliate-page .discount-section .reward-text {
    margin-bottom: 0;
    margin-top: 2vw;
}

.affiliate-page .discount-section span span {
    color: #e5004f;
}

.affiliate-page .discount-section .billing-image {
    width: 70vw;
}

.affiliate-page .discount-section .account-image {
    width: 35vw;
    margin-top: 5vh;
    cursor: pointer;
}

.affiliate-page .copyright-text {
    padding: 0;
    margin: 0;
    border-width: 0px;
    width: 100vw;
    position: fixed;
    bottom: 1vh;
    left: 0px;
    z-index: 6;
    text-align: center;
    font-size: 1vw;
    font-weight: normal;
}

.register-button{
    position: fixed;
    bottom: 0;
    cursor: pointer;
}

.register-button img{
    width: 20vw;
}